---
import Head from "@/components/Head.astro";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
import { MAX_WIDTH_CLASSES } from "@/lib/constants";

// Icons
import Github from "@/assets/icons/github.svg";
import LinkedIn from "@/assets/icons/linkedin.svg";
import Mail from "@/assets/icons/mail.svg";
import Youtube from "@/assets/icons/youtube.svg";
import HeroArticleCard from "@/components/HeroArticleCard.astro";

import ProjectCard from "@/components/ProjectCard.astro";
import { MoveRightIcon } from "lucide-react";
import { getCollection } from "astro:content";

const LINKS = [
  {
    name: "Github",
    Icon: Github,
    href: "https://github.com/Wiper-R",
  },
  {
    name: "LinkedIn",
    Icon: LinkedIn,
    href: "https://www.linkedin.com/in/wiperr",
  },
  {
    name: "Mail",
    Icon: Mail,
    href: "mailto:shivang.rath@gmail.com",
  },
  {
    name: "Youtube",
    Icon: Youtube,
    href: "https://www.youtube.com/@seekhcode",
  },
];

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);
const articles = (await getCollection("blog"))
  .filter((a) => a.data.published)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  })
  .slice(0, 4);
---

<Layout>
  <Head title="Shivang Rathore | Developer & Tech Enthusiast" />
  <div class={cn("relative overflow-hidden")}>
    <div class={cn(MAX_WIDTH_CLASSES)}>
      <div class="mt-20">
        <span class="text-green-400 text-2xl md:text-3xl"> Hi, I am </span>
        <h1 class="text-7xl md:text-8xl font-black">Shivang Rathore.</h1>
        <p class="mt-10 font-medium max-w-2xl md:text-xl text-lg">
          Software Engineer,<span class="text-gray-400">
            A developer with interest in Computer Science.</span
          >
          <span class="block text-gray-400 mt-4 md:text-xl text-lg">
            I hold a degree in computer science, but the majority of my
            expertise comes from self-directed learning and real-world projects.
          </span>
        </p>
      </div>
      <ul class="grid mt-6 text-base text-gray-400 md:text-lg">
        <li>
          <span class="text-xl"> ⚡ </span><span
            >Currently specilizing in Full Stack Development</span
          >
        </li>
        <li>
          <span class="text-xl"> ✍️ </span><span
            >Sharing knowledge on Youtube and Blogs</span
          >
        </li>
      </ul>
      <ul class="flex gap-4 mt-10 flex-wrap">
        {
          LINKS.map(({ Icon, ...link }) => (
            <li>
              <a
                href={link.href}
                class="p-4 py-2 bg-zinc-900 rounded flex gap-2 items-center hover:bg-zinc-800"
              >
                <span class="text-green-400">
                  <Icon class={"size-5"} />
                </span>
                <span>{link.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <!-- TODO: Add sources and hover effects in about section -->
  <div class={cn(MAX_WIDTH_CLASSES, "mt-20 md:mt-52")}>
    <h2 class="text-2xl font-bold">⚡About Me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 mt-5 md:mt-10 gap-10">
      <ul class="gap-2 grid text-gray-300">
        <li>
          Hey! I'm Shivang Rathore. My interest in programming started in
          school, where I was introduced to HTML in 6th grade by a teacher who
          was also a software engineer.
        </li>
        <li>
          In 2019, I discovered a Discord bot written in Python and backed by
          SQLite. With no prior experience, I taught myself Python through
          online resources and forums. That journey kickstarted my passion for
          coding.
        </li>
        <li>
          I have strong expertise in Python, JavaScript, React, Node.js, and
          Golang.
        </li>
        <li>
          Previously, I worked as a Lead Developer with the Pokémon Bot team for
          two years, scaling the app to support 100k servers.
        </li>
      </ul>
      <div>
        <div
          class="size-full aspect-square bg-gray-400 ml-auto max-w-[320px] mx-auto md:mx-[none]"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    class={cn(
      MAX_WIDTH_CLASSES,
      "mt-20 md:mt-36 grid grid-cols-1 md:grid-cols-2 gap-14",
    )}
  >
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-bold">💼 My Work</h2>
      <p class="text-gray-400">
        Here's some of my projects that I have worked on.
      </p>
      <a href="/projects" class="flex gap-2 text-green-400 text-lg items-center"
        >Explore More <MoveRightIcon /></a
      >
      <div class="mt-20 w-px h-px"></div>
      <ProjectCard {...projects[0]} />
    </div>
    <div class="grid gap-14">
      <ProjectCard {...projects[1]} />
      <ProjectCard {...projects[2]} />
    </div>
  </div>
  <div class={cn(MAX_WIDTH_CLASSES, "mt-36")}>
    <div
      class="flex justify-between flex-col md:flex-row md:items-center gap-4"
    >
      <h3 class="font-bold text-3xl">🌟 Recent Articles</h3>
      <a href="/blog" class="text-green-400 text-lg flex gap-2 items-center"
        >Explore More <MoveRightIcon /></a
      >
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 mt-10 gap-6">
      {articles.map((article) => <HeroArticleCard article={article} />)}
    </div>
  </div>
  <div
    class={cn(
      MAX_WIDTH_CLASSES,
      "mt-36 flex flex-col items-center text-center",
    )}
  >
    <h2 class="text-2xl font-bold">📬 Get in touch</h2>
    <p class="text-gray-400 mt-4 max-w-4xl mx-auto">
      I'm currently looking for new opportunities, my inbox is always open.
      Whether you have a question or just want to say hi, I'll try my best to
      get back to you!
    </p>
    <a
      href="mailto:shivang.rath@gmail.com"
      class="mt-10 p-4 py-2 bg-zinc-900 rounded flex gap-2 items-center hover:bg-zinc-800"
    >
      <span class="text-green-400">
        <Mail class={"size-5"} />
      </span>
      <span>Email me</span>
    </a>
  </div>
</Layout>
