---
import { type CollectionEntry } from "astro:content";
import { format } from "date-fns";
import { getReadingTime } from "@/lib/reading-time.ts";

type Props = CollectionEntry<"blog">;
const {
  id,
  data: { title, description, pubDate },
  body,
} = Astro.props;
const readingTime = getReadingTime(body || "");
---

<a
  class="bg-neutral-950 border border-gray-500/25 p-4 cursor-pointer hover:bg-neutral-900 transition-colors rounded-lg w-full"
  href=`/blog/${id}`
>
  <div class="space-x-2 flex items-center text-gray-300 text-sm md:text-base">
    <span>
      {format(pubDate, "dd MMM, yyyy")}
    </span>
    <span>{"•"}</span>
    <span>{readingTime}</span>
  </div>
  <h3 class="text-xl md:text-2xl font-bold mt-4">{title}</h3>
  <p class="text-gray-400 mt-2 text-sm md:text-base">{description}</p>
</a>
