---
import { cn } from "../lib/utils";
import { MAX_WIDTH_CLASSES } from "../lib/constants";
---

<footer class="bg-black border-t border-gray-500/25 mt-20">
  <div class={cn(MAX_WIDTH_CLASSES, "p-4 flex justify-center items-center")}>
    Made by <span class="text-green-400 mx-2 font-medium">Shivang Rathore</span>
    • Powered by <span class="text-green-400 mx-2 font-medium">Astro</span> • Hosted
    on <span class="text-green-400 mx-2 font-medium">Github Pages</span>
  </div>
</footer>
