---
import { cn } from "../lib/utils";
import { MAX_WIDTH_CLASSES } from "../lib/constants";
---

<footer class="bg-black border-t border-gray-500/25 mt-20 text-sm">
  <div class={cn(MAX_WIDTH_CLASSES, "p-4 text-center")}>
    Made by <span class="text-green-400 mx-1 font-medium">Shivang Rathore</span>
    • Powered by <span class="text-green-400 mx-1 font-medium">Astro</span>
    <br />
    Hosted on <span class="text-green-400 mx-1 font-medium">Github Pages</span>
  </div>
</footer>
