---
import { getReadingTime } from "@/lib/reading-time";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";

type Props = {
  article: CollectionEntry<"blog">;
};
const { article } = Astro.props;
const {
  data: { title, pubDate },
  body,
} = article;
const readTime = getReadingTime(body || "");
---

<a
  class="bg-neutral-950 border border-gray-500/25 p-4 cursor-pointer hover:bg-neutral-900 transition-colors rounded-lg"
  href={`/blog/${article.id}`}
>
  <div class="text-gray-500 text-sm md:text-base space-x-2 flex items-center">
    <span>
      {format(pubDate, "MMM dd, yyyy")}
    </span>
    <span>
      {readTime}
    </span>
  </div>
  <h3 class="text-xl md:text-2xl font-bold mt-2">{title}</h3>
</a>
