---
type Props = {
  title: string;
  description: string;
  date: string;
  readTime: string;
};
const { title, description, date, readTime } = Astro.props;
---

<a
  class="bg-black border border-gray-500/25 p-4 cursor-pointer hover:bg-stone-950 rounded-xl"
>
  <h3 class="text-2xl font-bold">{title}</h3>
  <p class="text-gray-400 mt-2">{description}</p>
  <div class="text-gray-600 mt-4 space-x-2 flex items-center">
    <span>
      {date}
    </span>
    <span>
      {readTime}
    </span>
  </div>
</a>
