---
import Layout from "@/layouts/Layout.astro";
import { MAX_WIDTH_CLASSES } from "@/lib/constants";
import ProjectSearchInput from "@/components/ProjectSearchInput.tsx";
import { cn } from "@/lib/utils";
import ProjectCard from "@/components/ProjectCard.astro";
import { getCollection } from "astro:content";
import Head from "@/components/Head.astro";
const projects = await getCollection("projects");
---

<Head title="Projects" />
<Layout>
  <div class={cn(MAX_WIDTH_CLASSES, "mt-5")}>
    <h1 class="text-6xl font-extrabold my-8">Projects</h1>
    <p class="text-gray-400">
      Over the past few years, I have had the opportunity to work on a variety
      of projects. This section is dedicated to showcasing those projects,
      diving into the why behind their creation, the how of their development,
      and the tech stacks I utilized. Additionally, I’ll share the challenges I
      encountered along the way and the solutions I implemented to overcome
      them.
    </p>
    <ProjectSearchInput client:load />
    <hr class="my-10 border-gray-500/25" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</Layout>
