---
import Layout from "@/layouts/Layout.astro";
import type { Heading } from "@/lib/heading-hierarchy";
import { cn } from "@/lib/utils";
import TOC from "@/components/TOC/index.astro";
import Comments from "@/components/Comments.astro";

type Props = {
  headings: Heading[];
};

const { headings } = Astro.props;
---

<Layout>
  <div class={cn("flex flex-col max-w-5xl mx-auto p-4")}>
    <slot name="details" />
    <hr class={cn("my-10")} />
    <div class={cn("flex gap-10 w-full")}>
      <article
        class={"prose prose-neutral dark:prose-invert flex-grow w-full max-lg:max-w-none"}
      >
        <slot name="content" />
      </article>
      <div
        class="sticky top-20 h-full overflow-y-auto float-right max-w-[320px]"
      >
        <TOC headings={headings} />
      </div>
    </div>
    <Comments />
  </div>
</Layout>
